.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-grow {
  flex: 1;
}

.gap-2 {
  gap: 1rem 1rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}
