@import "../../../styles/flex.css";

.drawer__header {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.drawer__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #183247;
}

.drawer__body {
  padding: 1.5rem 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.drawer__footer {
  padding: 1rem 0.75rem;
}

.icon-btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid rgb(156 163 175);
}
