@import "./app/styles/flex.css";
@import "./app/styles/spacing.css";

:root {
  --body-bg: #dfdbe5;
  --surface-bg: #fff;
  --text-color: #282c3f;
  --drawerWidth: 30rem;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
